:root {
  --white: #f9f9f9;
  --black: #131313;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: .5s ease-in;
}

a:hover {
  cursor: pointer;
  opacity: .7;
}

a:active, a:visited {
  color: inherit;
}